<!DOCTYPE html>
  <html>

  <head>
      <title>CRM Page</title>
  </head>

    <body>

      <h1><font size="8" color="orange">CRM Page!</font></h1>
      <h2><font size="5" color="green">Contacts</font></h2>

      <ul>
        <% @contacts.each do |contact| %>
        <li> <%= contact.first_name %> <%= contact.last_name%> ->  <%= contact.email%> ->  <%= contact.note%></li>
        <% end %>
      </ul>

    <h4><font size="3" color="aqua"> Click <a href='http://localhost:4567/home'> here </a> to go back to homepage!</font></h2>

    </body>

  </html>
