<h2>
  There are <u><%=Contact.count%></u> contacts
</h2>


<% @contacts.each do |contact| %>
<p>
  <%= contact.first_name %> <%= contact.last_name%> (<%= contact.email%>)
    <h5>Edit | Delete</h5>
      <% end %>
</p>
