<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">

    <title>Bitmaker CRM</title>

  </head>

  <body>

    <header>
      <h1> Bitmaker CRM </h1>
        <nav>
          <a href='/about'>Home</a>
          <a href='/contact_us'>Add A Contact</a>
          <a href='/blog'>About</a>
        </nav>
    </header>

    <main>
      <!-- content goes here -->
      <%= yield %>
    </main>

  </body>

  <footer>
    <h4> &copy;Bitmaker 2016 </h4>
  </footer>

</html>
